.button {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: none;

    &:hover {
        color: $brand-secondary;
        background-color: $brand-white;
        border-color: $brand-secondary;
    }
}