.button {
    background-color: $brand-secondary;
    border: 1px solid $brand-secondary;
    color: $brand-white;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;
    border-radius: 100px;
    padding: 0.8em 2em 0.8em 2em;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    font-family: 'Mulish';

    // &:hover {
    //     color: $brand-secondary;
    //     background-color: $brand-white;
    // }
}

.button-outline {
    background-color: $brand-white;
    border: 1px solid $brand-secondary;
    color: $brand-secondary;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;
    border-radius: 100px;
    padding: 0.8em 2em 0.8em 2em;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    font-family: 'Mulish';
}