button {
    font-size: 14px;
    text-transform: none;
    font-weight: 700;
    border-radius: 100px;
    padding: 0.8em 2em 0.8em 2em;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    transition: all 200ms;
    border: 1px solid $brand-secondary;
}

.button {
    background-color: $brand-secondary;
    color: $brand-white;

    &:hover {
        color: $brand-secondary;
        background-color: $brand-white;
    }
}

.button-outline {
    background-color: $brand-white;
    color: $brand-secondary;

    &:hover {
        background-color: $brand-secondary;
        color: $brand-white;
    }
}