.add-polygon-page {
    padding: 0px 2rem 2rem;

    .container {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    text {
        font-size: 2em;
    }

    .error {
        color: #f44336;
    }

    //svg viewer
    .image-preview {
        min-width: 300px;
        margin-left: 2rem;
        justify-content: center;
        align-items: center;
        border: 1px solid $brand-secondary;
        border-radius: 4px;

        svg {
            height: 100%;
        }
    }

    //form
    .form {
        width: 500px;
        align-items: flex-start;
        padding: 20px 30px;
        height: calc(100% - 40px);
        box-shadow: 0 10px 40px rgba(0, 64, 128, .1);
        border-radius: 4px;
    }

    //form input
    .label-input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: $brand-primary;
        margin-bottom: 2em;
        width: 100%;

        label {
            text-align: left;
            font-size: .8rem;
        }

        input {
            padding: 12px;
            border-radius: 2px;
            font-weight: 600;
            color: $brand-primary;
            border: 1px solid #dae1e7;
            margin-top: 5px;

            &:focus-visible {
                outline: none;
            }
        }
    }

    //Drag and Drop
    .drag-area {
        border: 2px dashed #dae1e7;
        width: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .drag-area.active {
        border: 2px solid $brand-primary;
    }

    .drag-area .icon {
        font-size: 55px;
        color: #9a9a96;
    }

    .drag-area h2 {
        font-size: 1rem;
        color: $brand-primary;
    }

    .drag-area span {
        font-size: 1rem;
        color: $brand-primary;
        margin: 10px 0 15px 0;
    }

    .drag-area img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .drag-area button {
        position: relative;

        input {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
}