.history-page {
    padding: 0px 30px;

    ul {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    li {
        margin-right: 10px;
        border: 1px solid $brand-secondary;
    }

    .image-container {
        height: 40vmin;
    }
}